.text-field-container {
    display: flex;
    flex-direction: column;
    padding: 30px
}

.textfield {
    margin: 20px;
}

.avatar-profile {
    max-width: 50px;
}

.info-profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}